<footer class="footer">
  <div class="footer__inner">
    <div class="copyright copyright-font">
      <span>南昌封窗｜旧窗换新｜阳台整装</span>
    </div>
    <div class="tongji">微信：WindoorsY</div>
    <div class="copyright copyright--user">
      {{ with $.Site.Copyright }}{{ . | safeHTML }}{{ else }}© {{ now.Year }} 洪窗｜南昌及周边门窗改造服务{{ end }}
    </div>
  </div>
</footer>

<script type="text/javascript" src="/theme-main-1.js"></script>
<script type="text/javascript" src="/lately.min.js"></script>
<script type="text/javascript" src="/waterfall.min.js"></script>
<script type="text/javascript" src="/imgStatus.min.js"></script>
<script type="text/javascript" src="/view-image.js"></script>
<script type="text/javascript" src="/theme-lmm-20230611.js"></script>
<script type="text/javascript" src="/pangu.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    pangu.autoSpacingPage();
    umiTongji();
  });
</script>

{{ if .IsHome }}
  <script type="text/javascript" src="/theme-lmm-home-20230612-1.js"></script>
{{ end }}
